body {
    padding-top: 5rem;
}

ul {
    margin: 0;
    padding: 0;
}


li {
    margin: 0;
    margin-bottom: 1.3rem;
    list-style: none;
}

li span.account {
    color: #444;
    font-weight: bold;
    font-size: .9rem;
    display: block;
    white-space: nowrap;
}

li span.time {
    color: #666;
    font-size: .8rem;
    display: block;
}

.form-row {
    width: 100%;
}

#chat-area {
    height: 400px;
    border: 1px solid #d0d0d0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: auto;
}